.aws-btn {
  --slider-height-percentage: 100%;
  --slider-transition-duration: 1000ms;
  --organic-arrow-thickness: 1px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 10px;
  --organic-arrow-color: #000000;
  --control-button-width: 5%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: transparent;
  --control-bullet-active-color: transparent;
  --loader-bar-color: transparent;
  --loader-bar-height: 1px;
}
