<h2 class="text-center">All Images</h2>
<hr/>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <form id="image-form" class="col-lg-">
            <div class="form-group">
                <label for="category" >Select Category</label>
                <select id="category" class="form-control"></select>
            </div>
    </form>
    </div>
    <div class="col-lg-4"></div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <h4 class="text-center">Saved Images</h4>
        <table class="table table-striped">
            <tbody id="images">
            </tbody>
        </table>
    </div>
</div>
<script>
    
    var dbCategories = firebase.database().ref("categories");
    dbCategories.once("value").then(function(categories){
        categories.forEach(function(category){
            $("#category").append("<option value='"+category.key+"'>"+category.key+"</option>");     
        });
    });
    
    
    var dbImages = firebase.database().ref("images");
    
    dbImages.on("value",function(images){
        if(images.exists()){
            var imageshtml = "";
            images.forEach(function(images){
                
                imageshtml += "<tr>";
                
                //for category thumbnail
                imageshtml += "<td> <img width='250' height='150' src='";
                imageshtml += images.val().thumbnail;
                imageshtml += "' /><td>";
                
                imageshtml += "<tr>";
                
            });
            
            $("#images").html(imageshtml);
        }
        
    });
    
</script>
